<web-app>
    <servlet>
        <servlet-name>calculate</servlet-name>
        <servlet-class>com.msc.web.MyServiceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>calculate</servlet-name>
        <url-pattern>/myService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>com.ac.web.AddController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>sub</servlet-name>
        <servlet-class>com.ac.web.SubController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sub</servlet-name>
        <url-pattern>/sub</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>multiple</servlet-name>
        <servlet-class>com.ac.web.MultipleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>multiple</servlet-name>
        <url-pattern>/multiple</url-pattern>
    </servlet-mapping>
</web-app>